.container
  .row
    .col-lg-3.col-sm-5
      = image_tag avatar_url(@user, 300), :class => "img-thumbnail center-block"
      %h1 #{@user.username}
      %span.label.label-info.tags.badge
        - if @user.admin?
          admin
        - else
          member
      %ul.list-group.top-margin-md
        %li.list-group-item.text-right
          %span.pull-left
            %strong Full Name:
          #{@user.first_name} #{@user.last_name}
        %li.list-group-item.text-right
          %span.pull-left
            %strong Date Joined:
          #{@user.created_at.to_date}
        %li.list-group-item.text-right
          %span.pull-left
            %strong Last Login:
          #{time_ago(@user.current_sign_in_at)}
        %li.list-group-item.text-right
          %span.pull-left
            %strong Email:
          #{@user.email}
        - if !@user.facebook_url.blank?
          %li.list-group-item.text-right
            %span.pull-left
              %strong Facebook:
            = link_to "#{@user.facebook_url}", "https://www.facebook.com/" + @user.facebook_url
        - if !@user.twitter_url.blank?
          %li.list-group-item.text-right
            %span.pull-left
              %strong Twitter:
            = link_to "#{@user.twitter_url}", "https://www.twitter.com/" + @user.twitter_url
      .panel.panel-default
        .panel-heading
          %strong Communities
        .panel-body.community-panel
          - if @communities.present?
            - @communities.each do |community|
              %a.span.label.label-info.tags.badge{href: community_path(community.id)} ##{community.name}
          - else
            .top-margin-sm None

    .col-lg-9.col-sm-7
      %ul.nav.nav-pills{role: "tablist"}
        %li.active{role: "presentation"}
          %a{href: "#profile", data: {toggle: 'tab'}}
            %span.glyphicon.glyphicon-user
              Profile
        %li{role: "presentation"}
          %a{href: "#projects", data: {toggle: 'tab'}}
            %span.glyphicon.glyphicon-folder-close
              Projects
        %li{role: "presentation"}
          %a{href: "#funds", data: {toggle: 'tab'}}
            %span.glyphicon.glyphicon-heart
              Funded
        - if current_user == @user
          %li{role: "presentation"}
            %a{href: "#feedbacks", data: {toggle: 'tab'}}
              %span.glyphicon.glyphicon-comment
                Feedback

      .tab-content
        .tab-pane.fade.in.active{id: "profile"}
          .panel.panel-default
            .panel-heading
              %strong About Me
            .panel-body
              = @user.description
          .panel.panel-default
            .panel-heading
              %strong Location
            .panel-body
              %p City: #{@user.geo_community.present? ? @user.geo_community.city : 'Not Specified'}
              %p Country: #{@user.geo_community.present? ? @user.geo_community.country : 'Not Specified'}
          .panel.panel-default
            .panel-heading
              %strong Initiator Statistics
            .panel-body
              - if @average_rating == 0
                %p
                  Average rating: No feedback received :(
              - else
                %p
                  Average rating:
                - if @average_rating == 1
                  Bad :(
                  .progress
                    .div{class:"progress-bar progress-bar-danger",style:"width: 25%"}
                - elsif @average_rating == 2
                  Not very good!
                  .progress
                    .div{class:"progress-bar progress-bar-danger",style:"width: 50%"}
                - elsif @average_rating == 3
                  Almost perfect!
                  .progress
                    .div{class:"progress-bar progress-bar-warning",style:"width: 75%"}
                - else
                  Perfect!
                  .progress
                    .div{class:"progress-bar progress-bar-success",style:"width: 100%"}
              %p Projects Started: #{@projects.count}
              %p Successfully Funded: #{@projects.where(:funding_successful => true).count}
              //progress bar showing reputation score based on user feedbacks
              
          .panel.panel-default
            .panel-heading
              %strong Funder Statistics
            .panel-body
              %p Projects Funded: #{@funds.count}
              %p= "Total Amount Funded: $#{number_with_precision(@funds.sum(:amount), precision: 2)}"
              %p= "Average Amount Funded: $#{number_with_precision(@funds.present? ? @funds.average(:amount) : '0.0', precision: 2)}"
        .tab-pane.fade{id: "projects"}
          - if @projects.count == 0
            .panel.panel-default
              .panel-body
                #{@user.username} hasn't started any projects yet.
          - else
            - @projects.each do |p|
              - unless p.closed?
                .panel.panel-success
                  .panel-heading
                    .panel-title.community
                      - if p.banner?
                        .project-banner-community
                          = image_tag p.banner.url
                      %h3 
                        = p.name
                      Created: #{p.created_at.to_date}
                      .pull-right Updated: #{time_ago(p.updated_at)}
                  .panel-body
                    = p.description
                    %br
                    .pull-right
                      = link_to 'Details', project_path(p.id)
              - else
                .panel.panel-danger
                  .panel-heading
                    .panel-title.community
                      - if p.banner?
                        .project-banner-community
                          = image_tag p.banner.url
                      %h3 
                        = p.name
                      Created: #{p.created_at.to_date}
                    .pull-right Updated: #{time_ago(p.updated_at)}
                  .panel-body
                    = p.description
                    %br
                    .pull-right
                      = link_to 'Details', project_path(p.id)
        .tab-pane.fade{id: "funds"}
          - if @funds.count == 0
            .panel.panel-default
              .panel-body
                #{@user.username} hasn't funded any projects yet.
          - else
            - @funds.each do |f|
              - unless f.project.closed?
                .panel.panel-success
                  .panel-heading
                    .panel-title.community
                      - if f.project.banner?
                        .project-banner-community
                          = image_tag f.project.banner.url
                      %h3 
                        = f.project.name
                      .text-right
                        Donated $#{number_with_precision(f.amount, precision: 2)} #{time_ago(f.updated_at)}
                  .panel-body
                    %strong Reward:
                    %br
                    = f.reward.present? ? "#{f.reward.description}" : "None"
                    %br
                    .pull-right
                      = link_to 'Details', project_path(f.project.id)
              - else
                .panel.panel-danger
                  .panel-heading
                    .panel-title.community
                      - if f.project.banner?
                        .project-banner-community
                          = image_tag f.project.banner.url
                      %h3 
                        = f.project.name
                      .text-right
                        Donated $#{number_with_precision(f.amount, precision: 2)} #{time_ago(f.updated_at)}
                  .panel-body
                    %strong Reward:
                    %br
                    = f.reward.present? ? "#{f.reward.description}" : "None"
                    %br
                    .pull-right
                      = link_to 'Details', project_path(f.project.id)
        .tab-pane.fade{id: "feedbacks"}
          .list-group
            - if @feedbacks.present?
              - @feedbacks.each do |feedback|
                .panel
                  .panel-body
                    .pull-left
                      = image_tag avatar_url(feedback.user, 100), class: 'img-circle avatar'
                    %strong
                      = link_to "#{feedback.user.username}", users_path(feedback.user.username)
                      on
                      = link_to "#{feedback.project.name}", project_path(feedback.project.id)
                    %br
                    
                    %p #{feedback.description}
                    Rating: #{feedback.rating}
                    .pull-right #{time_ago(feedback.updated_at)}
            - else
              %li.list-group-item No feedback received.
