.row
  .col-md-3
    %h1.text-center #{@user.username}
    %ul.list-group
      %li.list-group-item
        = image_tag avatar_url(@user, 200), :class => "img-responsive"
      %li.list-group-item Email: #{@user.email}
      %li.list-group-item Hometown: #{@user.hometown}
      %li.list-group-item Homestate: #{@user.homestate}
      %li.list-group-item Date Joined: #{@user.created_at}
      %li.list-group-item Last Sign In: #{@user.last_sign_in_at}
      
      - if (user_signed_in? && current_user == @user)
        %li.list-group-item
          = link_to "Edit Profile", edit_user_registration_path
  .col-md-9
    %ul.nav.nav-tabs
      %li.active
        = link_to "Projects", "#projects", "data-toggle" => "tab"
      %li
        = link_to "Funded", "#funds", "data-toggle" => "tab"
      %li
        = link_to "Communities", "#communities", "data-toggle" => "tab"
      %li
        = link_to "Feedback", "#feedbacks", "data-toggle" => "tab"
      
    .tab-content
      .tab-pane.active{id: "projects"}
        - if @projects.any?
          - @projects.each do |project|
            %project.name
        - else
          #{@user.username} hasn't started any projects.
      .tab-pane.active{id: "funds"}
        - if @funds.any?
          - @funds.each do |fund|
            %fund.amount
        - else
          #{@user.username} hasn't funded any projects.
      .tab-pane{id: "communities"}
        - if @communities.any?
          - @communities.each do |community|
            %community.name
        - else
          #{@user.username} doesn't belong to any communities.
      .tab-pane{id: "feedbacks"}
        - if @feedbacks.any?
          - @feedbacks.each do |feedback|
            %feedback.description
        - else
          #{@user.username} hasn't received any feedback.