.row
  .col-fixed-200
    = image_tag avatar_url(@user, 200), :class => "img-responsive"
  .col-md-12.col-offset-200.col-height-200
    .container
      %h1 #{@user.username}
      %h6 Date Joined: #{@user.created_at}
      %h6 Last Sign In: #{@user.current_sign_in_at}
.row
  .tab-group
    %ul.nav.nav-tabs{role: "tablist"}
      %li.active
        = link_to "Profile", "#profile", "data-toggle" => "tab"
      %li
        = link_to "Projects", "#projects", "data-toggle" => "tab"
      %li
        = link_to "Funded", "#funds", "data-toggle" => "tab"
      %li
        = link_to "Communities", "#communities", "data-toggle" => "tab"
      %li
        = link_to "Feedback", "#feedbacks", "data-toggle" => "tab"
      
    .tab-content
      .tab-pane.fade.in.active{id: "profile"}
        %p Email: #{@user.email}
        %p Hometown: #{@user.hometown}
        %p Homestate: #{@user.homestate}
        - if (user_signed_in? && current_user == @user)
          = link_to "Edit Profile", edit_user_registration_path
      .tab-pane.fade{id: "projects"}
        - if @projects.any?
          - @projects.each do |project|
            %project.name
        - else
          #{@user.username} hasn't started any projects.
      .tab-pane.fade{id: "funds"}
        - if @funds.any?
          - @funds.each do |fund|
            %fund.amount
        - else
          #{@user.username} hasn't funded any projects.
      .tab-pane.fade{id: "communities"}
        - if @communities.any?
          - @communities.each do |community|
            %community.name
        - else
          #{@user.username} doesn't belong to any communities.
      .tab-pane.fade{id: "feedbacks"}
        - if @feedbacks.any?
          - @feedbacks.each do |feedback|
            %feedback.description
        - else
          #{@user.username} hasn't received any feedback.