%h1 Settings

%h3 Change Admins
%table{ class: 'admin-users table' }
	- @admins.each do |admin|
		%tr{ class: 'admin-user' }
			%td{ class: 'admin-username' }
				= admin.username
			%td
				= button_tag type: 'button', class: 'remove-admin-btn btn btn-xs btn-danger' do
					Revoke
	%tr
		%td= autocomplete_field_tag 'make-admin-input', '', admin_settings_autocomplete_path
		%td= button_tag 'Make Admin', type: 'button', class: 'make-admin-btn btn btn-xs btn-primary'

%h3 Save Changes
= button_tag 'Save Changes', type: 'button', class: 'save-changes-btn btn btn-xs btn-primary'
