.containertype_id
  .row
    .col-sm-9.col-md-9
      %h1 Dashboard
      
      - if !current_user
        %p
          sign in to see some cool stuff yo
      - else
        - if @events.any?
          .div{id:"cards"}
          - @events.each do |e|
            // display a card
            .panel.panel-default
              .panel-heading
                .panel-title
                  %h3{class: "panel-title"} 
                    //= e
                    = link_to(e[:name] + " update!", project_path(e[:type_id]))
              .panel-body
                %h4
                  = e[:description]
                %p
                  //link to user public profile page
                  //= link_to(@user.username + "made the donation at " + e[:time], user_path(@user))
                  = e[:time].strftime("%B %d, %Y")
          .div{id:"infinite-scrolling"}
            = will_paginate @events
        - else
          nothing to see here

    //sidebar

    //communities
    .col-sm-3.col-md-3
      .panel.panel-default
        .panel-body
          - if current_user.communities.length >= 1
            /in the future, display a feed here with most recent events
            = link_to "Browse your communities", communities_path, class: 'btn btn-lg'
          - else
            %p
              Hey, you haven't joined any communities yet!
            %br
            = link_to "Wanna?", dashboard_collect_information_path, class: 'btn btn-lg'

    //feedbacks/reputation alerts
    .col-sm-3.col-md-3
      .panel.panel-default
        .panel-body
          - if current_user.feedbacks.count >= 1
            = link_to current_user.feedback_button_text, feedbacks_path
          - else
            = current_user.feedback_button_text + " :("

    //projects given funds too
    .col-sm-3.col-md-3
      .panel.panel-default
        .panel-heading
          .panel-title
            %h4 Projects you have funded:
        - if current_user.projects_funded.count > 1
          - current_user.projects_funded.each do |p|
            = p.name 
            %br 
            = "Percentage completed:" + p.percentage_completed
        - else
          No Projects funded :( 

    //initiated projects
    .col-sm-3.col-md-3
      .panel.panel-default
        .panel-heading
          .panel-title
            %h4 Projects you have started:
        - if current_user.projects.count > 1
          - current_user.projects.each do |p|
            = p.name 
            %br 
            = "Percentage completed:" + p.percentage_completed
        - else
          No projects initiated :( 
