.row
  .col-md-offset-3.col-md-6
    %h1.text-center Edit Your Profile
    = simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }, input_html: {class: 'form-horizontal'} do |f|
      .form-group
        = f.error_notification
        = devise_error_messages!
      .form-group
        %label{for: "username"} Username
        = f.text_field :username, required: true, class: 'form-control', label: false
      .form-group
        %label{for: "email"} Email
        = f.text_field :email, required: true, class: 'form-control', label: false
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          .alert.alert-warning
            = "Currently waiting confirmation for: #{resource.unconfirmed_email}"
      .form-group
        %label{for: "hometown"} Hometown
        .form-group
          = select_tag :country, options_for_select(@countries, @selected_country), prompt: 'Select Country', class: 'country-select'
          = f.select :location, options_for_select(@cities, @selected_city), { prompt: 'Select City' }, { class: 'city-select' }
      .form-group
        %label{for: "first_name"} First (Given) Name
        = f.text_field :first_name, required: false, class: 'form-control', label: false
      .form-group
        %label{for: "last_name"} Last (Family) Name
        = f.text_field :last_name, required: false, class: 'form-control', label: false
      .form-group
        %label{for: "description"} About Me
        = f.text_area :description, required: false, class: 'form-control', rows: 4, placeholder: "A short description about yourself!"
      .form-group
        %label{for: "avatar"} Avatar
        - if current_user.avatar.url.present?
          = image_tag(current_user.avatar.url) 
          %label{for: "remove_avatar"} Remove Avatar
          = f.check_box :remove_avatar 
        = f.file_field :avatar 
        = f.hidden_field :avatar_cache
      .form-group
        %label{for: "facebook_url"} Facebook Page
        = f.text_field :facebook_url, required: false, class: 'form-control', label: false
      .form-group
        %label{for: "twitter_url"} Twitter Page
        = f.text_field :twitter_url, required: false, class: 'form-control', label: false
      .form-group
        %label{for: "password"} Password
        = f.password_field :password, autocomplete: "off", placeholder: "leave it blank if you don't want to change it", required: false, class: 'form-control', label: false
      .form-group
        %label{for: "password_confirmation"} Password Confirmation
        = f.password_field :password_confirmation, required: false, class: 'form-control', placeholder: "and leave this blank too", label: false
      .form-group
        %label Interests
        %ul.list-group
          - @communities.each do |community|
            .checkbox
              %label
                = check_box_tag "user[community_ids][]", community.id, resource.community_ids.include?(community.id)
                = community.name

      = f.button :submit, "Update", class: 'btn btn-primary'
      = link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", method: :delete}, class: 'btn btn-info'
      = link_to "Back", :back, class: "btn btn-info"
