= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, input_html: {class: 'form-horizontal'} do |f|
  .col-md-12
    .col-md-offset-2
      %h2= "Edit #{resource_name.to_s.humanize}"
    .col-md-offset-2
      = f.error_notification
    .form-group
      %label{class: 'col-sm-2 col-sm-offset-2 control-label'}
        Username
      .col-sm-6
        = f.text_field :username, required: true, autofocus: true, class: 'form-control', label: false
    .form-group
      %label{class: 'col-sm-2 col-sm-offset-2 control-label'}
        Email
      .col-sm-6
        = f.text_field :email, required: true, autofocus: true, class: 'form-control', label: false
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %p.col-sm-6
          Currently waiting confirmation for: #{resource.unconfirmed_email}
    .form-group
      %label{class: 'col-sm-2 col-sm-offset-2 control-label'}
        Password
      .col-sm-6
        = f.text_field :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, class: 'form-control', label: false
    .form-group
      %label{class: 'col-sm-2 col-sm-offset-2 control-label'}
        Password Confirmation
      .col-sm-6
        = f.text_field :password_confirmation,required: false, class: 'form-control', label: false
    .form-group
      %label{class: 'col-sm-2 col-sm-offset-2 control-label'}
        Current Password
      .col-sm-6
        = f.text_field :current_password, hint: "we need your current password to confirm changes", required: true, class: 'form-control', label: false
  .col-md-12
    .col-md-offset-4.col-md-4
      .form-group
        .form-actions
          = f.button :submit, "Update"


%h3 Cancel my account
%p TODO style this
%p
  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
= link_to "Back", :back
