.row.centered-form
  .col-md-offset-3.col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title.text-center Create an account
      .panel-body
        = simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
          
          = f.error_notification
          - @errors = resource.errors
          //style this lol
          = devise_error_messages! 

          // TODO apparently devise stores field errors in here as a flash and not as model errors. Use this to get at them for whatever we plan to do with css
          .div{class: 'form-group has-warning', id: 'signup-username'}
            %div{class: "input-group"}
              = f.text_field :username, required: true, class: 'form-control input-sm', label: false, placeholder: 'Username',id: 'signup-username-input', size: 100
              .span{class: "glyphicon glyphicon-warning-sign form-control-feedback", id: 'signup-username-icon'}
          .div{class: 'form-group has-warning', id: 'signup-email'}
            %div{class: "input-group"}
              = f.text_field :email, required: true, class: 'form-control input-sm', label: false, placeholder: 'Email', id: 'signup-email-input', size: 100
              .span{class: "glyphicon glyphicon-warning-sign form-control-feedback", id: 'signup-email-icon'}
          .div{class: 'form-group has-warning', id: 'signup-password'}
            %div{class: "input-group"}
              = f.password_field :password, required: true, placeholder: ("Password (#{@minimum_password_length} characters minimum)" if @validatable), label: false, class: 'form-control input-sm', id: 'signup-password-input', size: 100
              .span{class: "glyphicon glyphicon-warning-sign form-control-feedback", id: 'signup-password-icon'}
          .div{class: 'form-group has-warning', id: 'signup-password-confirm'}
            %div{class: "input-group"}
              = f.password_field :password_confirmation, required: true, class: 'form-control input-sm', label: false, placeholder: "Confirm Password", id: 'signup-password-confirm-input', size: 100
              .span{class: "glyphicon glyphicon-warning-sign form-control-feedback", id: 'signup-password-confirm-icon'}
          = f.hidden_field :uid
          = f.hidden_field :provider
          = f.button :submit, "Sign Up", id: "signup_button", class: 'btn btn-info btn-block'
          = link_to "Already have an account?", new_user_session_path, class: 'btn btn-block'
