= simple_form_for resource, as: resource_name, url: registration_path(resource_name), input_html: {class: 'form-horiztonal'}, id: 'submission' do |f|
  .col-md-12
    %h2{class: 'form-header'}
      Sign up
    %br
    .col-md-offset-2
      = f.error_notification

      - @errors = resource.errors
      -# TODO apparently devise stores field errors in here as a flash and not as model errors. Use this to get at them for whatever we plan to do with css

    .div{class: 'form-group has-warning', id: 'signup-username'}
      %label{class: 'col-sm-2 col-sm-offset-2 control-label'}
        Username
      .col-sm-4
        %div{class: "input-group"}
          = f.text_field :username, required: true, autofocus: true, class: 'form-control', label: false, size: 60, id: 'signup-username-input'
          .span{class: "glyphicon glyphicon-warning-sign form-control-feedback", id: 'signup-username-icon'}
    .div{class: 'form-group has-warning', id: 'signup-email'}
      %label{class: 'col-sm-2 col-sm-offset-2 control-label'}
        Email
      .col-sm-4
        %div{class: "input-group"}
          = f.text_field :email, required: true, autofocus: true, class: 'form-control', label: false, size: 60, id: 'signup-email-input'
          .span{class: "glyphicon glyphicon-warning-sign form-control-feedback", id: 'signup-email-icon'}
    .div{class: 'form-group has-warning', id: 'signup-password'}
      %label{class: 'col-sm-2 col-sm-offset-2 control-label'}
        Password
      .col-sm-4
        %div{class: "input-group"}
          = f.password_field :password, required: true, label: false, class: 'form-control', size: 60, id: 'signup-password-input'
          .span{class: "glyphicon glyphicon-warning-sign form-control-feedback", id: 'signup-password-icon'}
    .div{class: 'form-group has-warning', id: 'signup-password-confirm'}
      %label{class: 'col-sm-2 col-sm-offset-2 control-label'}
        Password Confirmation
      .col-sm-4
        %div{class: "input-group"}
          = f.password_field :password_confirmation, required: true, class: 'form-control', label: false, size: 60, id: 'signup-password-confirm-input'
          .span{class: "glyphicon glyphicon-warning-sign form-control-feedback", id: 'signup-password-confirm-icon'}
  .col-md-12
    .col-md-offset-4.col-md-4
      .form-group
        %div{class: 'form-actions text-center'}
          = f.button :submit, "Sign up", id: 'signup-submit-button', hidden: true
