%h1 New Project

.form-horizontal
  = simple_form_for @new_project_form, url: projects_path do |f|
    .col-md-12

      .col-md-offset-2
        = f.error_notification
      .row
        .form-group
          %label{class: 'col-sm-2 col-sm-offset-2 control-label'}
            Project Title
          .col-sm-2
            = f.text_field :name, required: true, autofocus: true, class: 'form-control', label: false
        .control-group
          %label{class: 'col-sm-2 col-sm-offset-2 control-label'}
            Description
          .col-sm-2
            = f.text_field :description, required: false, autofocus: true, class: 'form-control', label: false

        -# communities
        .form-group
          %h3 Select the communities you want included in your project
          .control-group
          - @communities.each do |community|
            %label{class: 'col-sm-2 col-sm-offset-2 control-label'}
              = "#{community.name}"
            .col-sm-6
              = f.input_field "community_#{community.id}".to_sym, required: true, as: :boolean, autofocus: true, class: 'form-control', label: false, input_html: { id: "community_#{community.id}"}

        -# TODO geographic location

        -# TODO reward levels

        -# TODO banner