= hidden_field_tag 'communities', @communities.to_json
.container
  .row
    %h2 Create a New Project
  .row
    = simple_form_for @project, url: projects_path do |f|
      .col-lg-8

        .form-group
          - if f.error_notification.present?
            .alert.alert-warning
              = f.error_notification
          %label{for: 'project_title'} Project Title
          .input-group
            = f.text_field :name, required: true, class: 'form-control'
            %span.input-group-addon
              %span.glyphicon.glyphicon-asterisk
        .form-group
          %label{for: 'project_title'} Description
          .input-group
            = f.text_area :description, required: true, class: 'form-control', rows: 5, placeholder: "Why should people choose to fund you?"
            %span.input-group-addon
              %span.glyphicon.glyphicon-asterisk
        .form-group
          %label{for: 'target_amount'} Target Amount
          .input-group
            = f.text_field :target_amount, requied: true, class: 'form-control', placeholder: "$ CAD"
            %span.input-group-addon
              %span.fa.fa-money

        .form-group
          %label{for: 'project_title'} Completion Date
          .form-inline
            = f.input :completion_date, as: :date, required: true, class: 'form-control', start_year: Project.minimum_start_year, end_year: Project.maximum_end_year, order: [:day, :month, :year], label: false
            %span.input-group-addon.hidden

        .form-group
          %label{for: 'community'} Community
          .input-group
            = f.input :community_id, collection: @communities, prompt: "Select a community...", label: false, input_html: {class: 'form-control'}

        #rewards
          .form-group
            .panel.panel-primary
              .panel-heading Reward Levels
              .panel-body
                %ul.list-group
                  = f.simple_fields_for :rewards do |reward|
                    = render 'reward_fields', f: reward
                  .links
                    = link_to_add_association 'Add Reward Level', f, :rewards

        -# TODO banner

        = f.button :submit, "Submit", id: 'submit_button', class: 'btn btn-info pull-right' 
