.container
  .row
    .col-sm-9.col-md-9
      = hidden_field_tag 'selected_reward_id', @fund.reward_id if @fund.present?
      - if @new_fund.present?
        .alert.alert-success
          Thank you for helping to fund this project! Click on "Edit donation" to change your donation amount or choose a different reward level
      .jumbotron
        - if @project.banner.present? # TODO might be different call when no file
          .project-banner
            = image_tag @project.banner.url
        %h3.inline.project-lead= "#{@project.name}: #{@project.description_lead}"
        .project-link.inline
          - @project.communities.each do |community|
            = "#{(@project.communities.count > 1) && (@project.communities.last == community) ? 'and' : ''}"
            %a{href: community_path(id: community.id)}
              = "#{@project.hashtag_community(community)}"
        %h3.inline effort

      %ul.nav.nav-pills
        %li.active{role: "presentation"}
          %a{href: "#description", data: {toggle: 'tab'}}
            %span.glyphicon.glyphicon-ice-lolly-tasted
              Description
        %li{role: "presentation"}
          %a{href: "#discussion", data: {toggle: 'tab'}}
            %span.glyphicon.glyphicon-comment
              Discussion

      .tab-content
        #description.tab-pane.fade.in.active
          .project-description
            = @project.description

        #discussion.tab-pane.fade
          .row
            = render "posts/discussion", locals: {type: "project", id: @project.id, posts: @posts}

    -# TODO project banner

    .col-sm-3.col-md-3
      .panel.panel-primary
        .panel-body
          .funding-status
            - if @fund.present?
              .completion-amount
                You have donated
                = "$#{number_with_precision(@fund.amount, precision: 2)}"
            %br
            %br
            PROJECT STATUS:
            %br
            %span.completion-amount
              = "$#{number_with_precision(@project.total_amount, precision: 2)}"
              of
              = "$#{number_with_precision(@project.target_amount, precision: 2)}"

          %span.completion-date
            - if @project.open?
              = "To be completed: #{@project.completion_date_for_display}"
            - else
              = "Project closed on: #{@project.completion_date_for_display}"
              %br
              %br
              = render template: "feedbacks/average_feedback", :locals => {:average_rating => @project.feedback_score}

      = render partial: 'action_button'

      #accordion.panel-group.details-panel
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              - #%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
              %span.glyphicon.glyphicon-chevron-right
              Initiator details
          - # add id #collapseOne to animate this as an accordian -- should be no need to do that now
          .panel-collapse.collapse.in
            %ul.list-group
              %li.list-group-item
                %a{href: users_path(@project.initiator.username)}
                  %span.glyphicon.glyphicon-user.text-primary
                  = "#{@project.initiator.username}"
              %li.list-group-item
                = render template: "feedbacks/average_feedback", :locals => {:average_rating => current_user.average_rating}
      .panel-group
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                %span.glyphicon.glyphicon-star.text-primary
                Rewards

          .panel-collapse.collpase.in
            %ul.list-group
              - @rewards.each do |reward|
                .project-reward-box{data: {reward_id: reward.id}}
                  .project-reward-icon
                    .selected-reward.fa.fa-bell-o
                  .project-reward
                    %h3= "$ #{reward.reward_level}"
                    %p= reward.description

      = render partial: 'moderate_buttons'