.container
  .row
    .col-sm-9.col-md-9
      .jumbotron
        %h3.inline= "#{@project.name}: #{@project.description_lead}"
        .project-link.inline
          - @project.communities.each do |community|
            = "#{@project.communities.last == community ? 'and' : ''}"
            %a{href: community_path(id: community.id)}
              = "#{@project.hashtag_community(community)}"
        %h3.inline effort

      %ul.nav.nav-pills
        %li.active{role: "presentation"}
          %a{href: "#description", data: {toggle: 'tab'}}
            %span.glyphicon.glyphicon-ice-lolly-tasted
              Description
        %li{role: "presentation"}
          %a{href: "#discussion", data: {toggle: 'tab'}}
            %span.glyphicon.glyphicon-comment
              Discussion

      .tab-content
        #description.tab-pane.fade.in.active
          = @project.description

        #discussion.tab-pane.fade
          TODO discussion functionality

    -# TODO project banner

    .col-sm-3.col-md-3
      .panel.panel-primary
        .panel-body
          .funding-status
            STATUS:
            %br
            -# TODO calculate total funding amount
            %span.completion-amount
              of
              = "$#{@project.target_amount}"

          %span.completion-date
            - if @project.open?
              = "To be completed: #{@project.completion_date_for_display}"
            - else
              = "Project closed on: #{@project.completion_date_for_display}"

      - if user_signed_in?
        -# then they can fund this
        -# TODO path to funding model for this project
        = link_to "Fund This", "#", class: "btn btn-lg btn-primary action-button"
      - else # not logged in, let's get them to sign up!
        = link_to "Sign Up To Fund This", new_user_registration_path, class: 'btn btn-lg btn-primary action-button'

      #accordion.panel-group.details-panel
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              - #%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
              %span.glyphicon.glyphicon-chevron-right
              Details
          - # add id #collapseOne to animate this as an accordian -- should be no need to do that now
          .panel-collapse.collapse.in
            %ul.list-group
              - if current_user.present? && @project.is_initiator?(current_user)
                %li.list-group-item
                  %a{href: edit_project_path(id: @project.id)}
                    %span.glyphicon.glyphicon-pencil.text-primary
                    Edit
              %li.list-group-item
                -# TODO link to initiator's profile + displayer username
                %a{href: "#"} 
                  %span.glyphicon.glyphicon-user.text-primary
                  Creator
      .panel-group
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                %span.glyphicon.glyphicon-star.text-primary
                Rewards
          -# TODO make rewards box "light up" if viewer has funded project and this is level they are selected for
          .panel-collapse.collpase.in
            %ul.list-group
              - @project.rewards.each do |reward|
                .reward
                  %span= "$ #{reward.reward_level}"
                  %p= reward.description

