- @project = @feedback.project
.col-lg-4
  = hidden_field_tag "feedback_submit_url_#{@feedback.id}"
  = hidden_field_tag "feedback_dismiss_url_#{@feedback.id}"
  .panel.panel-default{id: "feedback_form_#{@feedback.id}", class: 'feedback-form', data: {feedback_id: @feedback.id}}
    .panel-heading
      = "#{@project.name} has completed the funding process! Please fill out form upon completion or delivery."
    .panel-body
      .feedback-rating
        %label How many out of 10?
        = select_tag "feedback_rating_#{@feedback.id}", options_for_select((1..10).each { |r| [r, r] }), class: 'form-control', data: {feedback_id: @feedback.id}
      .feedback-description
        %label Any comments on the creator, product, or process?
        = text_area_tag "feedback_description_#{@feedback.id}", nil, class: 'form-control', data: {feedback_id: @feedback.id}

      .feedback-actions
        = button_tag "Submit", id: "submit_button_#{@feedback.id}}", class: 'submit-feedback-button btn btn-md btn-primary', data: {feedback_id: @feedback.id}
        = button_tag "Dismiss", id: "dismiss_button_#{@feedback.id}", class: 'dismiss-feedback-button btn btn-md', data: {feedback_id: @feedback.id}
          
:coffeescript
  $('.submit-feedback-button').click ->
    debugger
    form = $(this).closest('.feedback-form')
    feedback_id = form.data().feedbackId
    $.ajax
      type: 'POST'
      url: $("#feedback_submit_url_" + feedback_id)
      dataType: 'json'
      data:
        feedback_id: feedback_id
        feedback_rating: form.find("#feedback_rating_" + form.data().feedbackId).val()
        feedback_description: form.find("#feedback_description_" + form.data().feedbackId).val()
      success: (data) ->
        # TODO some successful thing

    event.preventDefault()

  $('.dismiss-feedback-button').click ->
    debugger
    form = $(this).closest('.feedback-form')
    feedback_id = form.data().feedbackId
    $.ajax
      type: 'POST'
      url: $("#feedback_dismiss_url_" + feedback_id)
      dataType: 'json'
      data:
        feedback_id: feedback_id
      success: (data) ->
        # TODO some successful thing
        
    event.preventDefault()
    