- # support both project and community post, so pass in what we are loading
- @posts = locals[:posts]

= hidden_field_tag "posts_url", posts_path
= hidden_field_tag "posts_type", locals[:type]
= hidden_field_tag "posts_object_id", locals[:id]

- if user_signed_in?
  .row
    .col-md-9
      #posting_error.alert.alert-danger.hidden
        Please enter a comment to post.
      .comment-box
        .input-group
          %span.input-group-addon.poster-avatar
            = image_tag(avatar_url(current_user, 50))
          = text_area_tag "post_content", nil, class: "form-control", rows: "3"
    .col-md-offset-1.col-md-2
      %button.btn.btn-md#post_button Post
.row
  .col-md-9
    .project-comments#comments
      = render partial: "posts/post", locals: {posts: @posts}
    #infinite-scrolling
      = will_paginate(@posts, params: {controller: "posts", action: "index", type: locals[:type], id: locals[:id]})
 
- # TODO just disable button if there is no input
:coffeescript

  $(window).on 'scroll', ->
    if $('#infinite-scrolling').size() > 0
      more_posts_url = $('.pagination a[rel=next]').attr('href')
      if more_posts_url && $(window).scrollTop() > $(document).height() - $(window).height() - 60
        $('.pagination').html("")
        $.ajax
          url: more_posts_url
          success: (data) ->
            debugger
            $("#comments").append(data.html)
      if !more_posts_url
          $('.pagination').html("")

  $('#post_button').click ->
    $('#posting_error').addClass('hidden')
    $.ajax
      type: 'POST'
      url: $('#posts_url').val()
      dataType: 'json'
      data:
        object_type: $('#posts_type').val()
        object_id: $('#posts_object_id').val()
        content: $('#post_content').val()
      success: (data) ->
        if data.status == "failure"
          $('#posting_error').removeClass('hidden')
        else
          $('.project-comments').prepend(
            '<div class="comment">' +
            '<div class="commenter-avatar">' +
            '<a href="' + data.userpath + '">' +
            '<img src="' + data.url + '">' + '</a>' +
            '</div>' +
            '<div class="comment-text">' + 
            '<a href="' + data.userpath + '">' + data.username + '</a>' +
            '<p class="content">' + data.content + '</p>' +
            '<span class="timestamp">' + data.timestamp + '</span>'
            '</div>' +
            '</div>'
          )
          $('#post_content').val("")